*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration: none;
}

/* MOBILE */
.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    align-items: center;
}

.footer-height{
    height: 80px;
}

.blue-bg{
    background-color: #0084FD;
    color: white;
}

.light-blue-bg{
    background-color: #B5DDFF;
}

.white-bg{
    background-color: white;
}

footer{
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0
}

button{
    border-style: none;
    border-radius: 30px;
    padding: 10px;
}

.footer-menu div{
    padding: 10px;
}

.fa-bars{
    color: white;
    font-size: 1.5rem;
}

.width-a{
    width: 80%;
    margin: auto;
}

.footer-menu{
    display: none;
}

.border-radius{
    border-radius: 30px;
}

.first-section{
    margin-top: 100px;
    padding: 30px;
    height: 650px;
}

.first-section > div{
    margin-top: 20px;
}

.center{
    text-align: center;
}

.long-button{
    padding: 10px 50px;
    letter-spacing: 2px;
}

img{
    width: 100%;
}

#phone{
    position: absolute;
    bottom: 0;
    right: 0;
}

.p-relative{
    position: relative;
}

/* TABLET */
@media screen and (max-width:768px){
    
}

/* DESKTOP */
@media screen and (min-width:769px){
    .hamburger{
        display: none;
    }

    .footer-menu{
        display: flex;
        flex-basis: 40%;
    }
}