*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
}

/* MOBILE */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    align-items: center;
}

.footer-height{
    height: 80px;
}

.blue-bg{
    background-color: #0084FD;
    color: white;
}

.light-blue-bg{
    background-color: #B5DDFF;
}

.white-bg{
    background-color: white;
}

.purple-bg{
    background-color: #9792E4;
    color: white;
}

footer{
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
}

section{
    padding: 100px 0;
}

button{
    border-style: none;
    border-radius: 30px;
    padding: 10px;
}

.footer-menu div{
    padding: 10px;
}

.fa-bars{
    color: white;
    font-size: 1.5rem;
}

.width-a{
    width: 80%;
    margin: auto;
}

.footer-menu{
    display: none;
}

.border-radius{
    border-radius: 30px;
}

.first-card{
    margin-top: 80px;
}

.card > div{
    margin-top: 20px;
}

#phone{
    line-height: 0px;
}

#first-card > div{
    margin-top: 20px;
}

.card .fa-solid{
    font-size: 4rem;
}

.center{
    text-align: center;
}

.long-button{
    padding: 10px 50px;
    letter-spacing: 2px;
}

.card{
    margin-top: 20px;
    padding: 30px;
}

.first-card{
    padding-bottom: 0;
}

img{
    width: 100%;
    line-height: 0;
}

.first-section h2{
    color: #0084FD;
    text-align: center;
}

.purple-section > div, .white-purple-section > div{
    padding: 20px 0;
}

.white-purple-section{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
}

/* TABLET */
@media screen and (min-width:426px){

    .width-a{
        width: 90%;
    }

    .first-section{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }


    .first-card{
        flex-basis: 66%; 
    }

    #phone{
        width: 40%;
        left: 10px;
    }

    .third-card, .second-card{
        flex-basis: calc(100% / 3 - 10px);
    }


}

/* DESKTOP */
@media screen and (min-width:769px){
    .width-a{
        width: 60%;
    }

    .hamburger{
        display: none;
    }

    .footer-menu{
        display: flex;
    }

    .first-card{
        display: flex;
        justify-content: space-between;
    }

    #phone{
        left: none;
        right: 20px;
        align-self: flex-end;
    }

    #first-card {
        flex-basis: 60%;
    }

    #first-card > div{
        text-align: left;
    }

}